#PasswordResetForm {
    fieldset {
        position: relative;
    }
    button {
        float: right;
        top: 0px;
        left: 63%;
    }
}

h1 .account-logout {
    font-size: 0.6em;
    float: none;
}

.registration-selection {
    input, label {
        display: inline;
        float: none;
    }
}

.address-list,
.payment-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
	padding: 0;
	margin: 20px 0;
    li {
        list-style-type: none;
        width: 90%;
        @media screen and (min-width: 768px) {
            width: 30%;
			margin-right: 1%;
        }
        address {
            color: $grey3;
            font-style: normal;
        }
        a,
        .button-text {
            line-height: 2rem;
            padding-right: .2rem;
        }
    }
	.default h3 {
		margin: 0;
		font-size: inherit;
	}
    .mini-address-title {
		font-weight: 600;
		margin: 0 0 10px;
    }
    .cc-owner {
        font-weight: 600;
    }
}
