.checkout-progress-indicator {
	padding: 0;
    overflow: hidden;
    div {
        display: inline;
        padding: 0 .83em 0 0;
    }
    span {
        text-transform: uppercase;
    }
    .active span {
        font-weight: 700;
        color: $black;
    }
    a {
        color: $night-rider;
    }
    i {
        padding-left: .83em;
        color: $very-light-gray;
    }
    .step-3 {
        padding-right: 0;
    }
}
.ship-to-multiple {
	padding: 15px 0;
}
.gift-message-text {
    overflow: visible;
    opacity: 1;
    transition: all 1s ease;
    &.hidden {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    textarea {
        width: 100%;
    }
}

.billing-coupon-code {
    .form-row,
    .coupon-apply,
    .giftcert-apply {
        display: inline-block;
		vertical-align: bottom;
		margin-bottom: 0.5rem // to align with field-wrapper;
    }
    .form-row {
        margin: 0;
        width: 45%;
    }
	.form-row.error,
	.form-row.redemption {
		display: block;
		width: 100%;
	}
    .tooltip {
        padding-left: 1rem;
    }
	button {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.redemption {
    .success {
        color: $islamic-green;
    }
    color: $sangria;
    span.error {
        margin-left: 0;
    }
}

.payment-method-options {
    .form-row {
        clear: none;
        float: left;
        width: 30%;
    }
}

.payment-method {
    clear: both;
    display: none;
}

.payment-method-expanded {
    display: block;
}

.month,
.year,
.day {
    clear: none;
    float: left;
    margin: 0 0 2% 2%;
    label {
        @extend .visually-hidden;
    }
    select {
        width: auto;
    }
}

.month .form-caption {
    margin-left: 0;
}

.cvn {
    clear: left;
    .field-wrapper {
        width: 100px;
    }
}

.ssn {
    clear: left;
}

.bml-terms-and-conditions {
    border: 1px solid $dark-gray;
    font-size: 0.8em;
    height: 400px;
    overflow: auto;
    padding: 1em;
}

.bml-table-col-1 {
    width: 25%;
}

.pt_checkout .summary .section-header {
    padding: 0;
	border-bottom: 1px solid #d4d4d4;
}


.section-header .section-header-note {
	float: right;
	font-weight: normal;
}
.checkout-mini-cart {
    background-color: $white-smoke;
    max-height: 330px;
    overflow: auto;
}

.checkout-order-totals {
	margin: 0 -.3rem;
}

.place-order-totals {
    clear: both;
    .order-totals-table {
        float: right;
        width: 50%;
    }
}

.order-component-block {
    margin: 20px 0;
    .details {
        padding: 10px 0;
    }
}


.order-summary-footer {
    position: relative;
    h2 {
        font-size: 2em;
        font-style: italic;
        font-weight: normal;
    }
}

.summary-help {
    float: right;
    font-size: 0.8em;
    margin: 1em 0;
}

.submit-order {
    clear: both;
    display: block;
    padding: 1.67em 0 0;
    text-align: right;
    .back-to-cart {
        font-size: 1.1em;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        margin-left: 1.5em;
    }
}

.order-discount {
    color: $sangria;
}

.gift-cert-used {
    padding: .83em 0;
}

.summary .edit {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    font-size: 0.9em;
    line-height: 1.5em;
}
.item-shipping-address {
    min-width: 120px;
}

.billing-error {
    color: red;
    margin: 0 0 .83em 24%;
}

.cvn-tooltip {
    font-weight: bold;
    margin: 5px;
    text-align: center;

    img {
        height: 150px;
        width: 110px;
    }
}

#shipping-method-list {
    position: relative;
}
