$product-nav-width: 160px;
#product-nav-container {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: $product-nav-width;
    div {
		float: left;
		text-align: center;
		width: 77px;
    }
    img {
		max-height: 100%;
		max-width: 80%;
    }
    span {
		display: block;
		height: 65px;
    }
    .divided span {
		border-right: 1px solid $gainsboro;
		padding-right: 5px;
    }
}

.pdp-main {
    @extend %clearfix;

    ul {
		list-style: none;
		margin: 0;
		padding: 0;
    }

    .product-col-1 {
		@media screen and (min-width: 768px) {
			float: left;
			width: 35%;
		}
    }
    .product-col-2 {
		@media screen and (min-width: 768px) {
			float: right;
			width: 60%;
			padding-left: 5%;
		}
		.product-name {
			margin-bottom: 5px;
			font-size: 36px;
			text-transform: uppercase;
			@media screen and (min-width: 768px) {
				padding-right: $product-nav-width;
			}
		}
		.product-number {
			color: $grey4;
			font-size: 10px;
			margin-bottom: 5px;
		}
		.product-price {
			font-size: 28px;
			margin-bottom: 5px;
			color: $blue1;
			font-weight: 600;
		}
		.price-standard {
			color: $grey4;
			font-weight: 100;
			text-decoration: line-through;
		}
		.price-standard + .price-sales {
			float: left;
			margin-right: 5px;
		}
		.price-tiered {
			color: $sangria;
			font-size: .6em;
			line-height: 1.5em;
		}
    }
    .product-review {
		@extend %clearfix;
		margin-bottom: 10px;
	}
	.product-main-attributes {
		.attribute {
			padding: 5px 0;
		}
		.label {
			padding: 0;
		}
	}
	.product-primary-image {
		max-width: 100%;
		text-align: center;
	}

    // Product Add to Cart Area (Availability, Quantity)
    .product-add-to-cart {
		border-bottom: 1px solid $grey4;
		border-top: 1px solid $grey4;
		padding: 15px 0;

		.inventory {
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			label {
				display: inline;
			}
			input {
				font-size: 18px;
				height: 40px;
				width: 40px;
				margin: 0 5px;
				text-align: center;
	    	}
		}
		button {
			font-size: 18px;
			line-height: 1;
			padding: 10px 20px;
			@media screen and (min-width: 768px) {
				min-width: 300px;
			}
		}
    }
    .promotion {
		background-color: $grey7;
		border-top: 1px solid $grey4;
		overflow: hidden;
		padding: 1.5em;
		.promotion-title {
			font-weight: bold;
			margin-bottom: .3rem;
			text-transform: uppercase;
		}
		.promotion-callout {
			.tooltip {
				font-size: .7rem;
				margin-left: .2rem;
			}
		}
    }
    .product-actions {
		@extend %clearfix;
		padding: 1em 0;
		a {
			margin: 0 0 10px;
		}
		.socialsharing {
			margin-right: 1rem;
			@media screen and (min-width: 960px) {
				float: left;
				padding-top: 0;
			}
		}
		.share-icon {
			color: $grey4;
			&:hover {
				color: $blue;
			}
			i {
				font-size: 50px;
				@media screen and (min-width: 960px) {
					font-size: 34px;
				}
			}
		}
    }
    // Product Set Display
    .product-set {
	.product-set-list {
	    border-top: 1px solid $very-light-gray;
	    .product-set-details {
		float: left;
		padding-left: .5rem;
		width: 75%;
	    }
	    .product-set-item {
		clear: both;
		overflow: hidden;
		padding: 1em 0 0;
	    }
	    .product-set-image {
		float: left;
		width: 22%;
		img {
		    width: 100%;
		}
	    }
	    .product-name {
		float: none;
		font-size: 1.3em;
		margin-bottom: 0;
		width: auto;
	    }
	    .product-price {
		font-size: 1rem;
		margin: .5em 0;
	    }
	    .attribute {
		h3 {
		    width: 25%;
		}
		.label {
		    width: 25%;
		    white-space: nowrap;
		}
	    }
	}
	.product-add-to-cart {
	    border-top: none;
	    padding-top: 0;
	    label {
		float: left;
		font-size: .75rem;
		padding-top: .3em;
		padding-right: .5em;
	    }
	}
    }
    // Product Recommendations
	.recommendations-section {
		clear: both;
		margin: 0 -30px -20px;
		padding: 60px 30px 40px;
		background: $grey7;
	}
	.recommendation-tooltip {
	    background: $white;
	    border: 1px solid;
	    left: 50%;
	    position: absolute;
	    text-align: left;
	    top: 50%;
	    width: 300px;
	    z-index: 100;
	}
	#carousel-recommendations {
	    position: relative;
	    overflow: hidden;
		ul {
			position: relative;
			width: 10000px;
		}
		li {
			float: left;
			width: 300px;
			padding: 20px;
			box-sizing: border-box;
		}
		.jcarousel-clip {
			margin: auto;
			overflow: hidden;
			width: 300px;
		}
		.jcarousel-nav {
			cursor: pointer;
			position: absolute;
			top: 20%;
			&.inactive {
				display: none;
			}
		}
		.jcarousel-prev {
			left: 0;
		}
		.jcarousel-next {
			right: 0;
		}
		.product-tile:hover .recommendation-tooltip {
			display: block !important;
		}
	}
}



.main-image {
    display: block;
}
.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    ul {
		@extend %clearfix;
    }
    // thumbnail
    .thumb {
		border-bottom: 5px solid $white;
		float: left;
		margin-right: .5rem;
		padding-top: 1px;
		width: 3.4375rem;
		&.selected {
			border-color: $blue1;
		}
    }
    // thumbnail image
    img {
		border: 1px solid $very-light-gray;
		box-sizing: border-box;
		cursor: pointer;
		max-width: 100%;
		height: auto;
    }
    h2 {
		margin: 1rem 0 .3rem;
    }
}

.rating {
    color: $blue1;
	font-size: 18px;
}

.product-variations,
.product-options {
    .attribute {
		margin: 1em 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		h3,
		.label {
			font-weight: 600;
			margin-bottom: .3rem;
		}
		ul {
			overflow: hidden;
		}
		.selected-value {
			border: 0 none;
			padding: 1.3em 0 0 .4em;
			@media screen and (min-width: 768px)  {
				padding-top: .8em;
			}
		}
		.size-chart-link {
			clear: both;
			float: none;
			a {
				border-color: $white !important;
				padding: 0;
			}
		}
    }
    .swatches li {
		float: left;
		&:hover,
		&.selected {
			a {
				border-color: $blue1;
			}
		}
		&.unselectable a {
			opacity: .8;
			&:hover {
				border-color: $grey4;
			}
		}
		a {
			border: 2px solid $grey4;
			display: block;
			line-height: 40px;
			height: 40px;
			min-width: 40px;
			margin: 0 10px 10px 0;
			padding: 1px;
			text-align: center;
			white-space: nowrap;
		}
    }
    .color li {
		a {
			line-height: 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
    }
    select {
		background-color: $white;
		border: 1px solid $grey4;
		border-radius: 0;
		height: 42px;
		width: 100%;
		margin-left: 0;
		@media screen and (min-width: 768px) {
			height: 32px;
		}
    }
}

// Tabs using just CSS, no javascript required
.tabs {
    position: relative;
}
.tab {
    @media screen and (min-width: 768px) {
		display: inline-block;
		float: none;
    }
    .tab-switch {
		display: none;
		&:checked {
			+ .tab-label {
				@media screen and (min-width: 768px) {
					background: #fff;
					border-bottom-color: $blue1;
					color: $grey0;
					z-index: 1;
				}
			}
			+ label + .tab-content {
				opacity: 1;
				transition: all 0.35s;
				z-index: 2;
			}
		}
    }
    .tab-label {
		border-bottom: 3px solid $white;
		color: $grey4;
		display: block;
		font-size: 24px;
		font-weight: 600;
		line-height: 35px;
		margin-bottom: 0;
		text-transform: none;
		transition: all 0.25s;
		@media screen and (min-width: 768px) {
			cursor: pointer;
			padding: 0 1.25rem;
			&:hover {
				border-bottom-color: $grey4;
			}
		}
    }
    .tab-content {
		z-index: 1;
		margin: 1em 0;
		font-size: 18px;
		text-align: left;
		@media screen and (min-width: 768px) {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 2.75em;
			transition: all 0.35s;
			width: 100%;
		}
    }
}

.product-info {
	clear: both;
	padding-top: 1em;
	// Height for PDP Tabs
	@media screen and (min-width: 768px) {
		min-height: 200px;
	}
	ul {
		list-style: square;
		padding: 0 5em;
		@media screen and (min-width: 768px) {
			padding-bottom: 1em;
			padding-top: 1em;
		}
	}
	.tab-content {
		@media screen and (min-width: 768px) {
			height: 130px;
			overflow: auto;
		}
	}
}