#cart-items-form {
	margin: 15px -30px;
	padding: 0 30px;
	background: $white;
}
#cart-table {
	thead {
		display: none;
		@media screen and (min-width: 768px) {
			display: table-header-group;
		}
	}
	tr {
		@media screen and (max-width: 767px) {
			display: block;
			padding: 10px 0;
			overflow: hidden;
		}
	}
	td, th {
		box-sizing: border-box;
		padding: 5px;
	}
	.header-total-price {
		text-align: right;
	}
	.item-image {
		float: left;
		text-align: center;
		width: 40%;
		@media screen and (min-width: 768px) {
			float: none;
			width: 7rem;
		}
	}
	.item-details {
		float: left;
		width: 60%;
		@media screen and (min-width: 768px) {
			float: none;
			width: auto;
		}
		.name {
			font-size: 1rem;
		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: none;
			@media screen and (min-width: 768px) {
				display: block;
			}
		}
	}
	.item-delivery-options {
		width: 60%;
		float: right;
		@media screen and (min-width: 768px) {
			float: none;
			width: 200px;
		}
		.form-row {
			margin: 0 0 10px;
		}
		label {
			display: inline;
		}
	}
	.item-quantity {
		clear: left;
		float: left;
		text-align: center;
		width: 40%;
		@media screen and (min-width: 768px) {
			clear: none;
			float: none;
			text-align: left;
			width: 60px;
		}
		input {
			width: 2.7rem;
		}
	}
	.item-quantity-details {
		clear: left;
		float: left;
		text-align: center;
		width: 40%;
		@media screen and (min-width: 768px) {
			clear: none;
			float: none;
			text-align: left;
			width: auto;
		}
		.product-availability-list {
			display: none;
		}
		.item-user-actions {
			a,
			button {
				display: block;
				width: 100%;
				margin: .3rem 0;
				@media screen and (min-width: 768px) {
					width: auto;
				}
			}
		}
	}
	.item-price {
		float: left;
		width: 60%;
		@media screen and (min-width: 768px) {
			float: none;
			width: 80px;
		}
	}
	.price-promotion {
		.price-sales {
			color: $sangria;
		}
		.price-standard {
			margin: 0 1em 0 0;
			text-decoration: line-through;
		}
	}
	.item-total {
		float: left;
		font-size: 1rem;
		font-weight: 700;
		text-align: right;
		width: 100%;
		word-wrap: break-word;
		@media screen and (min-width: 768px) {
			float: none;
			font-size: 1em;
			width: auto;
		}
		.promo-adjustment {
			@media screen and (min-width: 768px) {
				width: 100%;
				float: right;
			}
		}
	}
	.price-unadjusted {
		color: $dim-gray;
		display: block;
		margin: 0 0 .42em;
		span {
			text-decoration: line-through;
		}
	}
	.price-adjusted-total {
		color: $dim-gray;
		display: block;
		margin: .42em 0 0;
		span {
			color: $sangria;
		}
	}
	.gift-cert-delivery {
		color: $sangria;
	}
}

.cart-promo {
	background: url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;
	color: $night-rider;
	font-style: italic;
	margin: 0.3em 0;
	padding: 1em;
	.bonus-item-actions {
		font-size: 1em !important;
		text-align: right;
		vertical-align: middle;
	}
}

.cart-footer {
	@extend %clearfix;
	margin: .83em 0;
}

.cart-coupon-code {
	border-top: 1px solid $grey5;
	padding: 15px 0 0;
	@media screen and (min-width: 768px) {
		float: left;
		width: 60%;
		border: 0;
	}
	input {
		margin-bottom: .5rem;
		width: 50%;
		@media screen and (min-width: 768px) {
			width: 45%;
		}
	}
	.error {
		padding-top: 0.4em;
	}
}

.cart-order-totals {
	margin: 1rem 0;
	@media screen and (min-width: 768px) {
		float: right;
		margin-top: 0;
		width: 40%;
	}
}

.order-totals-table {
	td {
		padding: .3rem;
		text-align: right;

	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}

	.order-subtotal {
		font-weight: 700;
	}
	.order-total {
		font-size: 1rem;
		font-weight: 700;
	}
}
.order-value {
	white-space: nowrap;
}
.cart-actions {
	@extend %clearfix;
}

.cart-action-checkout {
	float: right;
}

.cart-action-continue-shopping {
	float: right;
	button.button-text {
		min-height: 34px;
		margin-right: 10px;
	}
}

.cart-actions-top {
	margin: 10px 0 15px;
	.cart-action-continue-shopping {
		float: none;
	}
}

.cart-empty {
	@extend %clearfix;
	margin-top: 4rem;
	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $white-smoke;
		padding: 1rem 0;
		h2 {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
		}
	}
}

.promo-adjustment {
	color: $sangria;
}

ul.product-availability-list {
	margin: 0;
	padding: 0;
	width: 5em; //for IE
	width: max-content;
	li {
		list-style: none outside none;
	}
	.on-order, .not-available {
		color: $sangria;
		font-size: 0.9em;
	}
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: .83em 0;
	}
}

#password-reset{
	white-space: nowrap;
}
