<iscontent type="text/html" charset="UTF-8" compact="true" />
<iscache type="relative" hour="24" />

<div class="html-slot-container">
	<div class="banner-main">
		<h2 class="animated fadeInDown">{{ title }}</h2>
		<p class="banner-emphasis animated fadeInDown">{{ description }}</p>
		<section class="banner-items">
			{{#each item}}
				<div class="banner-item">
					<article>
						<h3 class="animated fadeInUp">{{ title }}</h3>
						<figure>
							<img class="animated fadeIn speed-1s" src="{{ img }}" alt="">
						</figure>

						<p class="animated fadeInUp">{{ description }}</p>
						<p class="animated fadeInUP">
							<a class="button" href="">Explore</a>
						</p>
					</article>
				</div>
			{{/each}}
		</section>
	</div>
</div>
