html, body {
	font-family: $sans-serif;
	font-size: 14px;
}
body {
	background-color: $grey7;
	color: $grey1;
}

a {
	color: $blue1;
	text-decoration: none;
	&:hover {
		color: $grey1;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	display: inline-block;
	padding: 0.5em 2em;
	border: 1px solid transparent;
	background: $blue;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease;
	&.large {  font-size: 1em; }
	&:hover {
		background-color: $white;
		border-color: $blue;
		color: $blue;
	}
	&.simple {
		background-color: $white;
		border-color: $grey7;
		color: $blue;
		&:hover {
			background-color: transparent;
			border-color: $blue;
		}
	}
	&[disabled],
	&.disabled {
		background-color: $very-light-gray;
		border-color: $very-light-gray;
		color: $dim-gray;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {  color: $blue; }
	}
	i {
		&.left {  margin-right: 0.6em;  }
		&.right {  margin-left: 0.6em;  }
	}
}
.btn-secondary {
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
	border-width: 0;
	color: $blue1;
	padding: 0;
	&:hover {
		background-color: transparent;
		color: $grey1;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}
