#wrapper {
	position: relative;
	left: 0;
	margin: 0 auto;
	transition: left 0.2s ease-in;
	@media screen and (max-width: 767px) {
		&.menu-active { left: 50%; }
	}
	&.pt_product-details,
	&.pt_order-confirmation {
		background: $white;
	}
}

.primary-content {
	box-sizing: border-box;
	padding: 20px 30px;
    @media screen and (min-width: 768px) {
        position: relative;
        width: 75%;
		float: right;
	    .primary-focus & {
	        float: left;
	    } 
	    .full-width & {
	        width: 100%;
	    }
	}
	.pt_checkout &,
	.pt_account &,
	.pt_order &,
	.pt_wish-list &,
	.pt_gift-registry &,
	.pt_product-search-result & {
		background: $white;
	}
	.pt_account &,
	.pt_order &,
	.pt_wish-list &,
	.pt_gift-registry & {
		@media screen and (min-width: 768px) {
			min-height: 700px;
			padding: 35px 30px;
		}
	}
	.pt_categorylanding & {
		padding-bottom: 0;
		@media screen and (min-width: 768px) {
			width: 80%;
		}
	}
}

#secondary {
	box-sizing: border-box;
	padding: 35px 15px;
	@media screen and (max-width: 767px) {
		.pt_product-search-result & {
			padding: 10px 20px ;
		}
	}
	@media screen and (min-width: 768px) {
        position: relative;
        float: left;
        width: 25%;
        nav {
            padding-left: 10px;
            padding-right: 10px;
            a {
                display: block;
            }
        }
        .primary-focus & {
			padding: 35px 30px;
        }
    }
    // Remove Refinements for responsive design
    .pt_content-search-result &,
    .pt_order & {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}
.secondary-content {
    clear: both;
}
