@mixin animated-duration($duration, $count) {
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $duration;
  -webkit-animation-iteration-count: $count;
  animation-duration: $duration;
  animation-delay: $duration;
  animation-iteration-count: $count;
}
@mixin background-zinc() {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.speed-1s {
  @include animated-duration(1s, 1);
}

.speed-2s {
  @include animated-duration(2s, 1);
}

.animated-hover {
  animation-play-state: paused;
}

.animated-hover:hover {
  animation-play-state: running;
}

img.logo-full {
  height: 30px !important;
  // display: none !important;
}

img.logo-md {
  height: 40px !important;
  width: auto !important;
  //display: inherit !important;
}

figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

figure img {
  margin: 0;
  padding: 0;
}
/* Zoom In #1 */
.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.banner-main p {
  margin-bottom: 16px;
}

.banner-items {
  @include background-zinc();
}

.banner-item article {
  p {
    width: 75%;
  }
}

.header-search {
  border: none;
  border-bottom: 1px $nav_border1 solid;
}
// Banner Video configuration

.video-container {
  position: relative;
  padding-bottom: 27%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
// Greg's content page

#home-bottom-left {
  margin: auto;
  max-width: 320px;
  position: relative;
  text-align: center;
  width: 100%;
}

#home-bottom-left h2 {
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  padding: 1rem 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  #home-bottom-left h2 {
    font-size: 2.3rem;
  }
}

#home-bottom-left ul {
  margin: -.5em 0 0.5em;
}

#home-bottom-left ul li {
  border-right: 1px solid #666;
  color: #666;
  display: inline;
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  list-style: none outside none;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

#home-bottom-left ul li:last-child {
  border: 0 none;
}

#home-bottom-left ul li span {
  margin: 0 10px 0 0;
}

#home-bottom-left img {
  display: block;
}

#home-bottom-center {
  width: 100%;
  margin: auto;
  max-width: 320px;
  position: relative;
}

#home-bottom-center .home-bottom-center-text {
  position: absolute;
  text-align: center;
  top: 18%;
  width: 100%;
}

#home-bottom-center .home-bottom-center-text h1 {
  color: #00629b;
  font-family: Crete Round, serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

#home-bottom-center .home-bottom-center-text h2 {
  color: #666;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin-top: -.05rem;
  text-transform: uppercase;
}

#home-bottom-center .home-bottom-center-text h3 {
  color: #666;
  font-family: Crete Round, serif;
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: -1rem;
  text-transform: uppercase;
}

#home-bottom-center img {
  display: block;
}

.home-bottom-right {
  font-family: Lato, sans-serif;
  width: 100%;
  margin: auto;
  max-width: 320px;
  position: relative;
  text-align: center;
}

.home-bottom-right .home-bottom-right-header h2 {
  color: #666;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.5em 0 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .home-bottom-right .home-bottom-right-header h2 {
    font-size: 2.3rem;
    font-weight: 200;
  }
}

.home-bottom-right .home-bottom-right-header h3 {
  color: #64772d;
}
// Fix product details
.product-info {
  min-height: 400px !important;

  .label {
    font-family: 'Lato';
  }
}

.tab-content {
  height: 300px !important;
  font-family: 'Lato';
  font-size: 14px !important;
  color: #6e6c6c;

  h3 {
    text-transform: capitalize;
    font-family: 'Lato';
  }
}
//banner products
.nbs img {
  width: 70%;
}
// Slick
.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  opacity: 0.9;
  font-family: monospace;
  background-color: rgba(125, 125, 125, .5);
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.slide-wrapper {
  height: 500px;
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  width: 100%;
  padding: 0;
  bottom: 5px;

  li {
    display: inline-block;
    margin-left: 2px;
    opacity: 0.9;

    button {
      background-color: rgba(125, 125, 125, .5) !important;
      text-indent: -9999px;
      overflow: hidden;
      padding: 0;
      width: 20px;
      height: 20px;
    }
  }
}

.slide-msg {
  position: absolute;
  z-index: 100;
  text-align: center;
  margin: auto;
  width: 100vw;
  color: white;
  top: 60%;
  background: rgba(120, 120, 120, 0.5);
  p, a {
    font-size: 34pt;
    font-family: $sans-serif-condensed;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1pt;
  }
  .slide-callout {
    border: 5px solid white;
    width: max-content;
    padding: 5pt 20pt;
    color: $white;
    font-size: 22pt;
    a {
      font-size: 22pt;
    }
  } 
}

// Media queries
@media screen and (max-width: 767px) {
  div.my-carousel div {
    max-width: none !important;
    img {
      max-width: none !important;
    }
  }
  .slide-wrapper {
    height: 200px;
    overflow: hidden;
  }
  .slide-msg {
    display: none;
  }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  div.my-carousel div {
    max-width: none !important;
    img {
      max-width: none !important;
    }
  }
  .slide-wrapper {
    height: 300px;
    overflow: hidden;
  }
}

// Menu
.level-2 div.banner {
  a {
    margin: 0px;
    padding: 0;
  }
}

.header-promotion, .header-loyalty-gold {
  font-weight: 300;
  strong {
    font-family: $sans-serif-condensed;
    font-size: 30px;
    font-weight: 400;
  }
} 