footer {
	clear: both;
	padding: 10px 20px 25px;
	background-color: $footer_bg;
	color: $footer_text1;
	border-top: 5px solid $blue;
	text-align: center;
}
.footer-container {

	.footer-item {
		padding: 10px 15px;
		@media screen and (min-width: 480px) {
			display: inline-block;
			padding: 0 20px;
			vertical-align: top;
		}
	}
	.footer-social {
		@media screen and (max-width: 959px) {
			display: block;
		}
	}
	.menu-footer {
		float: none;
		li {
			float: none;
		}
	}
	a {
		color: $grey3;
		&:hover {
			color: $grey1;
			text-decoration: none;
		}
	}
}

.social-links {
	padding-left: 0;
	li {
		display: inline;
		float: none;
		padding-right: 0.5em;
	}
}

#email-alert-signup {
	white-space: nowrap;
	input[type="text"] {
		border: none;
		margin-left: 0;
		width: 15em;
	}
	button {
		background-color: $dark-gray;
		border: none;
		color: $white;
		height: 31px;
		padding: 0;
		width: 31px;
	}
}

.copyright ,
.postscript {
	padding: 0 15px;
	background-color: $grey0;
	color: $grey3;
	text-align: center;
}
.copyright  { padding-top: 15px;}
.postscript { padding-bottom: 15px;}
