$minicart-padding: 15px;
#mini-cart {
	position: relative;
	z-index: 20;
	.mini-cart-name {
		a {
			color: $blue;
		}
	}
}

.mini-cart-total {
	position: relative;

	.minicart-quantity {
		position: absolute;
		right: 5px;
		top: 2px;
		padding: 1px 4px;
		border-radius: 10px;

		text-align: center;
		background-color: $white;
		border: 1px solid $grey3;
		color: $grey3;
	}
}

.mini-cart-content {
	background-color: $white;
	border: 1px solid $grey2;
	border-top: 0;
	box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
	right: -1px;
	top: 100%;
	width: 300px;
	#mini-cart:hover & {
		display: block;
	}
}

.mini-cart-header {
	font-weight: 600;
	padding: 15px $minicart-padding 0.5em;
	text-transform: uppercase;
}

.mini-cart-products {
	max-height: 360px;
	padding: 0 $minicart-padding;
	overflow: auto;
}

.mini-cart-product {
	@extend %clearfix;
	border-bottom: 1px solid $grey4;
	padding: 0.5em 0;
	position: relative;
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 100%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		right: 100%;
		top: 0;
		width: $minicart-padding;
		text-align: center;
	}
}

.mini-cart-image {
	float: left;
	width: 40%;
	img {
		max-width: 90%;
	}
}
.mini-cart-name,
.mini-cart-attributes,
.mini-cart-pricing,
.mini-cart-product .product-availability-list {
	float: right;
	clear: right;
	width: 60%;
}
.mini-cart-name {
	font-style: italic;
}
.mini-cart-attributes,
.mini-cart-product .product-availability-list {
	font-size: 0.9em;
	font-weight: 600;
}
.mini-cart-pricing {
	font-size: 0.9em;
}

.mini-cart-totals {
	text-align: center;
}

.mini-cart-subtotals {
	font-weight: 600;
	padding-top: .5em;
	.label {
		margin-right: .5rem;
	}
}

.mini-cart-slot {
	background: $grey5;
	border: 1px solid $grey5;
	font-size: 0.9em;
	font-style: italic;
	margin: $minicart-padding $minicart-padding;
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 15px 0;
	text-align: center;
}
