.content-slot img {
    height: auto;
    max-width: 100%;
}

.slot-grid-header p {
    margin: 0;
    padding: 0;
}

.product-listing-1x4 {
    overflow: hidden;
	padding: 60px 40px 40px 40px;
    .search-result-items .grid-tile {
        width: 25%;
    }
}
// product recomendation title styling as per NTO
.cart-recommendations .product-listing,
.product-listing-title {
	text-align: center;
	&:before {
		content: "";
		display: block;
		border-top: 1px solid #565656;
		height: 1px;
		position: relative;
		top: 30px;
	}
}
.cart-recommendations .product-listing h2,
.product-listing-title .title {
	border: 1px solid $grey2;
	background-color: $grey7;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	padding: 12px 25px;
	z-index: 2;
	text-transform: none;
	margin: 0;
}




.account-nav-asset {
    margin: 3.33em .83em;
    padding: .83em 0;
}

.content-asset {
    p {
        line-height: 1.6em;
        margin: 1em 0;
    }
    ul,
    ol {
        line-height: 1.6em;
        margin: 1em 0;
        padding: 0 1.5em;
    }
    address {
        margin: 1em 0;
    }
    ul {
        li {
            list-style: square outside none;
        }
    }
    ol li {
        list-style: decimal outside none;
    }
    .account-options {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            background-color: $grey2;
            list-style-type: none;
            margin: 1rem;
            text-align: center;
            width: 35%;
            transition: all 1000ms ease;
            &:hover {
                background-color: $grey4;
            }
            a {
                color: $white;
                display: block;
                padding: 1rem;

                i {
                    font-size: 6rem;
                }
            }
        }
    }
}

.browser-compatibility-alert {
    background-color: $sangria;
    color: $white;
    font-size: 1.3em;
    line-height: 2em;
    padding: 0.8em;
    top: 112px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.folder-slot {
    border-style: solid;
    border-color:  $islamic-green;
    border-width: 1px;
    background-color: white;
    padding: 0.5em 0.5em;

    h2{
        color:  $islamic-green;
        margin: 0.5em 0em;
    }
}

.menu-slot {
    display: none;
    border-top: 1px solid $tutu;
    margin-top: 0.5em;
    padding-top: 1.5em;
    .social-links {
        padding-left: 0;
        li {
            display: inline-block;
            padding-left: 0;
        }
    }
    @media screen and (min-width: 768px) {
        width: 13.5rem;
        display: block;
    }
}

.cart-recommendations {
    margin-top: 1rem;
    .product-listing {
        @extend %clearfix;
        padding: 1rem 0;
    }
}

.cart-recommendations,
.category-slot,
.product-slot {
    .tiles-container {
        display: flex;
        flex-flow: row wrap;
        .grid-tile {
			width: 100%;
			@media screen and (min-width: 620px) {
				width: 50%;
			}
			@media screen and (min-width: 960px) {
            	width: 25%;
			}
        }
    }
    h1 {
        color: $white;
        font-family: $sans-serif-alt;
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        text-align: right;
        bottom: 2%;
        left: 2%;
        @media screen and (min-width: 768px) {
            font-weight: 100;
        }
    }

    h3 {
        background-color: $white;
        bottom: 0;
        color: $black;
        font: 300 2rem $sans-serif-alt;
        margin: 0;
        opacity: .6;
        padding: 2rem;
        position: absolute;
        text-transform: uppercase;
        width: 100%;
    }
    .catlanding-banner {
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
    }
    .category-tile {
        float: left;
        overflow: hidden;
        padding: 0 .15%;
        position: relative;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 33%;
        }
        img {
            height: auto;
            width: 100%;
        }
    }
    .cat-banner {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
			vertical-align: bottom;
        }
        h1 {
            color: $night-rider;
            right: 2%;
        }
    }
	.product-tile {
		.product-name {
			font-weight: normal;
			height: auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
    }
}

.html-slot {
    background-color: $white-smoke;
    border-color: $gainsboro;
    border-style: solid;
    border-width: 1px 0;
    h1 {
        color: $cerulean;
        font-family: $sans-serif-alt;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1rem;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-weight: 100;
        }
        a {
            font-family: $serif;
        }
    }
}

// Homepage Banners

.banner-main {
  text-align: center;
  font-family: 'Cormorant Garamond', Times;
  h2 {
    font-family: Quicksand;
    font-size: 24pt;
    letter-spacing: 6pt;
    margin: 4pt auto;
  }
  p {
    margin: 2pt auto;
  }
  .banner-emphasis {
    font-family: 'Cormorant Garamond', Times;
    font-style: bold;
    font-size: 20pt;
  }
}

.banner-item {
  display: inline-block;
  margin: auto 1.5px;
  h3{
    font-family: Quicksand;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin: 10pt auto;
  }
  p {
    font-family: 'Cormorant Garamond', Times;
    font-style: italic;
    font-size: 16pt;
    margin: 10pt auto;
     a {
       font-family: Quicksand;
       font-size: 9pt;
       font-style: normal;
       letter-spacing: 2pt;
     }
  }
}
