.country-selector {
	position: relative;
	@media screen and (max-width: 767px){
		display: none;
	}
	span {
		font-size: 0;
	}
	.flag-icon {
		border: 1px solid $grey5;
		margin-right: .3rem;
	}
	.current-country {
		cursor: pointer;
		border-left: 1px solid $grey2;
		padding: 0 0 0 10px;
		.flag-icon {
			border: 0;
			line-height: 50px;
			margin: 0 -10px 0 0;
		}
	}
	.selector-icon {
		float: right;
		transform: rotate(90deg);
		&.fa {
			border: 0;
		}
	}
	.selector-active .selector-icon {
		transform: rotate(270deg);
	}
	.selector {
		display: none;
		position: absolute;
		top:100%;
		right: 0;
		z-index: 1;
		width: 300px;
		padding: 15px;
		background-color: $white;
		box-shadow: -1px 2px 4px rgba(0, 0, 0, .3);
		&.active {
			display: block;
		}
	}
	.continent-name {
		margin-top: 0;
		margin-bottom: .5rem;
		color: $sangria;
	}
	.country {
		margin-bottom: .5rem;
	}
	.locale {
		border-right: 1px solid $grey5;
		display: inline-block;
		padding: 0 .3rem;
		vertical-align: middle;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			border-right: none;
			padding-right: 0;
		}
	}
}
