nav[role="navigation"] {
	color: $white;

	@media screen and (max-width: 767px) {
		position: absolute;
		left: -50%;
		top: 0;
		width: 50%;
		min-height: 100vh;
		background: $nav_bg_global;
		border-top: 4px solid $nav_bg1;
	}
	@media screen and (min-width: 768px) {
		float: left;
	}
}

.menu-toggle {
	background-color: transparent;
	border: none;
	color: $nav_text1;
	display: block;
	float: left;
	margin-left: 0.2em;
	padding: 11px;
	@media screen and (min-width: 768px) {
		display: none;
	}
	&:hover {
		background-color: transparent;
	}
	.menu-icon {
		font-size: 2em;
	}
}

.menu-category {
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;

	li {
		list-style: none;
		@media screen and (min-width: 768px) {
			float: left;
		}
	}
	a {
		color: $nav_prim;
		display: block;
		padding: 10px 15px;
	}
}

.level-1 > li {
	@extend .clearfix;
	border-bottom: 1px solid $nav_bg1_darken;
	@media screen and (min-width: 768px) {
		border-bottom: 0;
		// border-right: 1px solid $nav_border1;
		&:first-child {
			// border-left: 1px solid $nav_border1;
		}
	}
	.menu-item-toggle {
		color: $color_hover;
		cursor: pointer;
		float: left;
		line-height: 1.1;
		padding: 1rem 0.8rem;
		transition: background-color 0.3s;
		width: 2.1rem;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}
	a {
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		@media screen and (min-width: 768px) {
			&:hover {
				background-color: transparent;
			}
		}
	}
	> a {
		font-family: $sans-serif-condensed;
		font-weight: 300;
		font-size: 18px;
		float: left;
		padding: 15px;
		line-height: 20px;
		color: $nav_text1;
		&.has-sub-menu {
			width: calc(100% - 2.1rem);
		}
		@media screen and (min-width: 768px) {
			float: none;
			width: 100%;
			padding: 15px 25px;
			&.has-sub-menu {
				width: 100%;
			}
			&:hover {
				background-color: darken($nav_text1, 10%);
				color: $white;
			}
		}
	}
}

.level-2 {
	clear: left;
	display: none;
	font-family: $sans-serif-condensed;
	font-weight: 700;
	font-size: 18px;
	> ul {
		@extend .clearfix;
		padding-bottom: .5em;
		padding-left: 2.1rem;
	}
	.level-1 > .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		background-color: $white;
		box-shadow: 0 3px 3px 2px rgba($charcoal, 0.3);
		color: $night-rider;
		padding: 0;
		position: absolute;
		z-index: 1;
		.level-1 li:hover & {
			display: block;
		}
		a {
			color: $blue;
			&:hover {
				text-decoration: underline;
			}
		}
		> ul {
			float: left;
			padding-left: 0;
			> li {
				float: none;
				min-width: 12em;
				> a {
					padding: 0.5em 1rem;
					text-transform: none;
				}
			}
		}
		.menu-vertical {
			> li > a:first-child {
				padding-top: 1em;
			}
		}
		.menu-horizontal {
			float: none;
			> li {
				border-right: 1px solid $nav_border1;
				float: left;
				padding-right: 2rem;
				&:last-child {
					border-right: none;
				}
			}

		}
		.banner {
			float: left;
		}
	}
	.banner {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
		img {
			vertical-align: top;
		}
	}
}

.level-3 {
	display: none;
	padding-left: 2em;
	.level-2 .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		display: block;
		a {
			color: darken($blue, 20%);
			font-weight: normal;
			padding: 0;
		}
		li {
			float: none;
			padding: 0.4em;
		}
	}
}
