// mixins
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dark-gray: #aaa;
$dim-gray: #666;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$white: #fff;

$swatch-types: teal #367588,black #000000, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white #ffffff, yellow #ffff00, navy navy;

// fonts
$sans-serif: 'Open Sans', Arial, sans-serif;
$sans-serif-alt: 'Open Sans', Lato, sans-serif;
$sans-serif-condensed: 'Open Sans Condensed', Arial;
$sans-cinematic: 'Six Caps', Arial;
$serif: 'Open Sans', serif;

// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';


// branding colors
$grey0:  #2a2a2a;
$grey1:  #393939;
$grey2:  #565656;
$grey3:  #777777;
$grey4:  #919191;
$grey5:  #d4d4d4;
$grey6:  #e6e6e6;
$grey7:  #eeeeee;

$blue:   #6ccdf0;
$blue1:  #0d7fb3;
$blue2:  #337ab7;
$blue3:  #23527c;

$nav_prim: #9EBDB1;
$nav_prim: $grey0;

$nav_bg1: $stark-white;
$nav_bg2: $white-smoke;
$nav_bg_global: $white;
$nav_bg_promo: $nav_prim;
$nav_border_top: 0px;
$nav_bg1_darken: darken($nav_prim, 10%);
$nav_border1: darken($nav_prim, 10%);
$nav_text1: darken($nav_prim, 10%);
$nav_text2: $white;

$footer_bg: $nav_bg_global;
$footer_text1: darken($nav_text1, 20%);

$blue:   darken($nav_prim, 10%);
$blue1:  darken($nav_prim, 20%);
$blue2:  darken($nav_prim, 30%);
$blue3:  darken($nav_prim, 70%);

$color_hover: $grey4;

// Border radius
$search_radius: 0px;
$error_radius: $search_radius;
$user_radius: $search_radius;
$responsive_radius: $search_radius;
$home_radius: $search_radius;


// global classes
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}
